In [43]:
# load modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gzip
import glob

In [113]:
# check file names
for file in glob.glob('data/*.gz'):
    city = str.title(str(file).split('/')[1].split('_')[0])
    print(file," ",city)

data/eldoret_weather.gz   Eldoret
data/kakamega_weather.gz   Kakamega
data/kisumu_weather.gz   Kisumu
data/malindi_weather.gz   Malindi
data/mombasa_weather.gz   Mombasa
data/nairobi_weather.gz   Nairobi
data/narok_weather.gz   Narok
data/nyeri_weather.gz   Nyeri

In [185]:
# load files
# create empty dataframe
data = pd.DataFrame()

for file in glob.glob('data/*.gz'):
    try:
        df = pd.read_csv(file,sep=";",skiprows=6,index_col=False,
                 encoding='UTF-8', low_memory=False)
        # rename the first column
        df = df.rename(columns={df.columns[0]:'Time'})
        # get city name & add to dataframe
        city = str.title(str(file).split('/')[1].split('_')[0])
        df.insert(loc=0,column='City',value= city)
        # append df to data
        data = data.append(df,ignore_index=False)
        print(city,"weather data has",df.shape[0],"rows and",df.shape[1], "columns")
    except Exception as e:
        print("Error reading data from this file: ", file, e)

# drop blank column
data = data.drop('Unnamed: 13',axis=1)

Eldoret weather data has 22169 rows and 30 columns
Kakamega weather data has 47344 rows and 15 columns
Kisumu weather data has 22554 rows and 30 columns
Malindi weather data has 24313 rows and 30 columns
Mombasa weather data has 24307 rows and 30 columns
Nairobi weather data has 21545 rows and 30 columns
Narok weather data has 47364 rows and 15 columns
Nyeri weather data has 35 rows and 15 columns

In [192]:
# check shape of data
data.shape

(209631, 33)

In [193]:
# column names
cols = [x for x in data.columns]
print(cols)

['City', 'Time', 'T', 'Po', 'P', 'Pa', 'U', 'DD', 'Ff', 'ff10', 'ff3', 'N', 'WW', 'W1', 'W2', 'Tn', 'Tx', 'Cl', 'Nh', 'H', 'Cm', 'Ch', 'VV', 'Td', 'RRR', 'tR', 'E', 'Tg', "E'", 'sss', 'P0', "W'W'", 'c']

In [194]:
# top rows
data.head()

,City,Time,T,Po,P,Pa,U,DD,Ff,ff10,...,Td,RRR,tR,E,Tg,E',sss,P0,W'W',c
0,Eldoret,29.12.2020 09:00,18.4,NaN,NaN,NaN,51.0,Wind blowing from the south-east,7.0,NaN,...,8.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Eldoret,29.12.2020 03:00,13.4,NaN,NaN,NaN,67.0,variable wind direction,1.0,NaN,...,7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Eldoret,29.12.2020 00:00,14.8,NaN,NaN,NaN,56.0,Wind blowing from the south,4.0,NaN,...,6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Eldoret,28.12.2020 21:00,14.0,NaN,NaN,NaN,58.0,Wind blowing from the south-east,5.0,NaN,...,5.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eldoret,28.12.2020 18:00,23.4,NaN,NaN,NaN,31.0,Wind blowing from the south-east,5.0,NaN,...,5.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
# bottom rows
data.tail()

,City,Time,T,Po,P,Pa,U,DD,Ff,ff10,...,Td,RRR,tR,E,Tg,E',sss,P0,W'W',c
30,Nyeri,28.12.2020 02:00,16.0,NaN,765.0,NaN,72.0,Wind blowing from the north,3.0,NaN,...,11.0,NaN,NaN,NaN,NaN,NaN,NaN,631.4,NaN,No Significant Clouds
31,Nyeri,28.12.2020 01:30,16.0,NaN,765.0,NaN,72.0,Wind blowing from the north,4.0,NaN,...,11.0,NaN,NaN,NaN,NaN,NaN,NaN,631.4,NaN,No Significant Clouds
32,Nyeri,28.12.2020 01:00,16.0,NaN,765.0,NaN,72.0,Wind blowing from the north,3.0,NaN,...,11.0,NaN,NaN,NaN,NaN,NaN,NaN,631.4,NaN,No Significant Clouds
33,Nyeri,28.12.2020 00:30,16.0,NaN,765.8,NaN,77.0,Wind blowing from the north,3.0,NaN,...,12.0,NaN,NaN,NaN,NaN,NaN,NaN,632.1,NaN,No Significant Clouds
34,Nyeri,28.12.2020 00:00,16.0,NaN,765.8,NaN,72.0,Wind blowing from the north,3.0,NaN,...,11.0,NaN,NaN,NaN,NaN,NaN,NaN,632.1,NaN,No Significant Clouds

In [197]:
# data info
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209631 entries, 0 to 34
Data columns (total 33 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   City    209631 non-null  object
 1   Time    209631 non-null  object
 2   T       208442 non-null  float64
 3   Po      36358 non-null   float64
 4   P       142124 non-null  float64
 5   Pa      24286 non-null   float64
 6   U       207834 non-null  float64
 7   DD      207879 non-null  object
 8   Ff      207934 non-null  float64
 9   ff10    4 non-null       float64
 10  ff3     0 non-null       float64
 11  N       114832 non-null  object
 12  WW      119542 non-null  object
 13  W1      12309 non-null   object
 14  W2      12306 non-null   object
 15  Tn      16201 non-null   float64
 16  Tx      16217 non-null   float64
 17  Cl      111880 non-null  object
 18  Nh      112588 non-null  object
 19  H       113135 non-null  object
 20  Cm      101567 non-null  object
 21  Ch      79471 non-null   object
 22  VV      206289 non-null  object
 23  Td      208567 non-null  float64
 24  RRR     17206 non-null   object
 25  tR      17206 non-null   float64
 26  E       7 non-null       object
 27  Tg      1 non-null       float64
 28  E'      17 non-null      object
 29  sss     17 non-null      float64
 30  P0      93551 non-null   float64
 31  W'W'    1220 non-null    object
 32  c       94555 non-null   object
dtypes: float64(15), object(18)
memory usage: 54.4+ MB

In [206]:
# calculate % of missing values
percent_missing_vals = np.round(data.isnull().sum()*100/len(data),2)
missing_vals_df = pd.DataFrame({'column_name':data.columns,'pct_missing':percent_missing_vals})
missing_vals_df = missing_vals_df.sort_values('pct_missing',ascending=True)
missing_vals_df

     column_name  pct_missing
City        City         0.00
Time        Time         0.00
Td            Td         0.51
T              T         0.57
Ff            Ff         0.81
DD            DD         0.84
U              U         0.86
VV            VV         1.59
P              P        32.20
WW            WW        42.98
N              N        45.22
H              H        46.03
Nh            Nh        46.29
Cl            Cl        46.63
Cm            Cm        51.55
c              c        54.89
P0            P0        55.37
Ch            Ch        62.09
Po            Po        82.66
Pa            Pa        88.41
RRR          RRR        91.79
tR            tR        91.79
Tx            Tx        92.26
Tn            Tn        92.27
W1            W1        94.13
W2            W2        94.13
W'W'        W'W'        99.42
E'            E'        99.99
sss          sss        99.99
ff3          ff3       100.00
E              E       100.00
Tg            Tg       100.00
ff10        ff10       100.00